body{
    margin: 0;
    background-color: gray;
}
header{
    text-align: center;
    font-size: larger;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-weight:bolder;
    background-color: black;
    padding: 10px;
    
}
#container{
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    padding: 5px;
}
/*Need to revisit image*/
#image{
    width: 100%;
    height: 400px;
    max-width: 100%;
    background-color: gray;
}
footer{
    text-align: center;
    background-color:rgb(47, 103, 103);
    padding: 10px;
}
p{
    line-height: 1.6;
    text-indent: 40px;
}
ul{
    line-height: 1.6;
}


/*

width: 100%; -> fills available width
height: auto; -> keeps the propertions of the image.
max-width: 100%; -> Image stays inside container

body margin:0; -> to remove the thin gap around footer

ShortHand For Margin:
margin-left: 100px;
margin-right: 100px;
write this instead:
margin: 0 100px;

margin: top-bottom left-right;

*/