
#display{
    display:flex; 
    flex-direction: column;
    align-self: flex-start;
    margin-top: 55px; 
    gap:10px;  
}



#reset{
    margin-bottom: 10pxs;
    align-self: center;
}



#container{
    border: 8px outset purple;
    width: 650px;
    margin: 50px auto;
    height: 455px;
    border-radius: 10px;
    background-color: rgb(212, 234, 101);

    display: flex;
    justify-content:space-between;  /*Puts space between 2 column, pushing one column to left and one to right */
    /* align-items:center; */
}

#rock,#paper,#scissor{
    font-size: 80px;
    background-color: teal;
    margin-top: 20px;
    cursor: pointer;
       /* margin: top right bottom left;  */
}

/* for Hover Effect */
#rock:hover,#paper:hover,#scissor:hover{
    filter:brightness(1.25);
}

/* For making button click more noticeable */
#rock:active,#paper:active,#scissor:active{
      transform: translateY(3px);
}


#rock1,#paper1,#scissor1{
    font-size: 80px;
    background-color:turquoise;
    margin-top: 20px;
     /* margin: top right bottom left; */
}

#leftboxes{  
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
}


#rightboxes{
    display:flex;
    flex-direction: column;
    margin-right: 10px;
    gap: 10px;
    pointer-events: none;
} 

 
#userdisplay,#botdisplay,#winsdisplay{
    height: 73px;
    width: 190px;
    font-size: 50px;
    border-radius: 5px;
    text-align: center;
    font-family: cursive;
}

#userdisplay{
    background-color: teal;
}

#botdisplay{
    background-color: turquoise;
}

#winsdisplay{
    background-color: rgb(143, 213, 45);
    
}

#userScore,#botScore{
    font-family:cursive;
}

h1{
    text-align: center;
    font-size: 50px;
    color: rgb(101, 19, 69);
    text-shadow: 3px 0 2px gray;
}





/*

pointer-events: none;
It disables all mouse/touch interactions on an element.
Cannot be clicked, Cannot be Hovered, Does not receive mouse event, JavaScript onlick won't fire from user clicks.  


align-self: -> align-self is used on an individual flex/grid item to override the container's align-items value for that specific item.
align-self: flex-start -> Moves the item to the start of the cross axis.
align-self: affects vertical alignment

*/